 
 
 .submain{
     background-color: #ADD8E6;
	 align-items: center;
	 width: 300px;
	 max-width: 300px;
	 
	 padding: 20px;
 }
 
 
 .main{
	 display:flex;
	 flex-direction: row;
	 justify-content: space-evenly;
	 align-items: center;
	 
 }
 
#toppp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border-radius: 20pxpx 20px 20px 0px;
	background-color: #2D7ADD;
	font-size: 20px;
	padding-bottom: 10px;
}

a{
	text-decoration: none;
	color: #021A39;
	font-weight: 700;
}

#third{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	align-items: center;
	max-width: 100%;
	background-color: #02214A;
	
}

#second{
	padding-bottom: 10px;
}

a{  
	
	padding-left: 20px;
	padding-right: 20px;
}

h1{ 
	font-size: 70px;
	margin: 0;
	padding: 0;
	padding-top: 10px;
}


.class {}