* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #eef2f7;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

.top {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 25px;
    border-radius: 12px;
}

.top nav {
    margin-top: 10px;
}

.top nav a {
    color: #dbeafe;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
}

.top nav a:hover {
    text-decoration: underline;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;    
    padding-bottom: 10px;
    padding-top: 60px;
}

.hero img {
     width: 480px;       
    max-width: 90%;      
    height: auto;

    border-radius: 30px; 
    border: 6px solid #2D7ADD;
    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

.hero h2 {
    margin-top: 15px;
}


.info-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}


.box {
    background-color: white;
    width: 33%;
    padding: 20px;
    border-radius: 15px;

    border: 2px solid transparent;
    outline: 2px solid transparent;
    outline-offset: 0;

    box-shadow: 0 6px 12px rgba(0,0,0,0.12);

    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        border 0.3s ease,
        outline-offset 0.3s ease;
}


.box:hover {
    background-color: #f0f8ff;
    box-shadow: 0 16px 30px rgba(0,0,0,0.25);
    border: 2px solid #1f3c88;
    outline-offset: 6px;
}


.box h2 {
    color: #1f3c88;
    margin-bottom: 10px;
}

.box p,
.box li {
    font-size: 14px;
    line-height: 1.6;
}

.box ul {
    padding-left: 18px;
}
