.CONTAINER{ 
    width: auto;
    max-width: 1170px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


#toppp{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	border-radius: 20pxpx 20px 20px 0px;
	background-color: #2D7ADD;
	font-size: 20px;
	padding-bottom: 10px;

    width: 1170px;
    max-width: 1170px ;
}


h1{ 
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0px;
    font-size: 100px;
}


a{
	text-decoration: none;
	color: #021A39;
	font-weight: 700;

}


.top{
    display: flex;
    justify-content: center;
    align-items: center;
}


#third{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	align-items: center;
	max-width: 100%;
	background-color: #02214A;

    width: 1170px;
    max-width: 1170px ;
	
}


#second{
	padding-bottom: 10px;
}


a{  
	
	padding-left: 20px;
	padding-right: 20px;
}

.info-container {
    display: flex;
    justify-content: space-between;  
    gap: 20px;                       
    padding: 20px;
}


.box {
    
    background-color: #c9e7f0;    
    width: 33%;                   
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;   
}



